*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    height: 100%;
}

li{
    padding: 10px;
    margin: 10px;
    width:100%;
    transition: 0.5s;
}

li:hover{
    background-color: lightgray;
}

a{
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

.active{
    color: green;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #42275a;
    color: white;
    padding: 10px;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

header h2{
    letter-spacing: 5px;
    color: white;
}